<section class="vh-100 mt-xl-5">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-start">

      <!--  FORM MARQUEE -->
      <div class="col-md-9 col-lg-6 col-xl-5 mb-4 pt-5">
        <img
          alt="Connexion"
          class="img-fluid mt-5"
          src="assets/img/implicaction.png"
        />
      </div>

      <!-- FORM HEADER -->
      <div class="col-md-9 col-lg-6 col-xl-4 offset-xl-1">
        <div class="divider d-flex align-items-center my-4">
          <p class="text-center mx-3 mb-0 fs-2">Inscription</p>
        </div>
        <form
          (ngSubmit)="signup()"
          [formGroup]="signupForm"
        >

          <!-- USERNAME -->
          <div class="form-floating mb-4">
            <input
              autofocus
              class="form-control form-control-lg"
              formControlName="username"
              id="floatingUsername"
              placeholder="Enter a valid email address"
              required
            />
            <label class="form-label" for="floatingUsername">Nom d'utilisateur</label>
          </div>

          <!-- EMAIL -->
          <div class="form-floating mb-3">
            <input
              class="form-control form-control-lg"
              formControlName="email"
              id="floatingEmail"
              placeholder="email"
              required
              type="email"
            />
            <label class="form-label" for="floatingEmail">Email</label>
          </div>

          <!-- PASSWORD -->
          <div class="form-floating mb-3">
            <input
              class="form-control form-control-lg"
              formControlName="password"
              id="floatingPassword"
              placeholder="mot de passe"
              required
              type="password"
            />
            <label class="form-label" for="floatingPassword">Mot de passe</label>
          </div>

          <!-- REPEAT PASSWORD -->
          <div class="form-floating mb-3">
            <input
              class="form-control form-control-lg"
              formControlName="repeatPassword"
              id="floatingConfirmPassword"
              placeholder="confirmer mot de passe"
              required
              type="password"
            />
            <label class="form-label" for="floatingConfirmPassword">Confirmer mot de passe</label>
          </div>

          <!-- FIRSTNAME -->
          <div class="form-floating mb-3">
            <input
              class="form-control form-control-lg"
              formControlName="firstname"
              id="floatingFirstname"
              placeholder="Prénom Nom"
              required
              type="text"
            />
            <label class="form-label" for="floatingFirstname">Prénom</label>
          </div>

          <!-- LASTNAME -->
          <div class="form-floating mb-3">
            <input
              class="form-control form-control-lg"
              formControlName="lastname"
              id="floatingLastname"
              placeholder="Prénom Nom"
              required
              type="text"
            />
            <label class="form-label" for="floatingLastname">Nom</label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <div class="d-grid gap-2 ">
              <button
                [disabled]="isLoading"
                class="btn btn-primary btn-lg"
                type="submit"
                id="floatingSubmit"
              >
                <span
                  *ngIf="isLoading"
                  aria-hidden="true"
                  class="spinner-border spinner-border-sm"
                  role="status"
                >
                </span>
                Inscription
              </button>
            </div>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Déjà membre ? <a class="link-danger" routerLink="/auth/login">Se connecter</a>
            </p>
          </div>
        </form>

        <app-alert></app-alert>
      </div>
    </div>
  </div>
</section>
